@import 'modules/colors';
@import 'modules/vars';
@import 'modules/mixins';
@import 'modules/common';
@import 'modules/table';
@import 'modules/map';
@import 'modules/card';

body {
    color: #37393A;
    font-family: 'Roboto Slab', serif;
}

.container {

    &__page {
        position: relative;
        @include cf();
    }

    &__wrap {
        max-width: 1240px;
        margin: 0 auto;
    }

    &__body {
        padding: 30px;
    }

    &__page_mode_graphics {
        background-color: #ffffff;
        background-image: url('../images/background.png');
        background-position: left top;
    }
    &__page_mode_text {
        border: 1px solid red;
    }
}

@include respond-to(desktop) {
    .container {
        width: 95%;
        height: 95%;
    }
}