@import 'modules/colors';
@import 'modules/vars';
@import 'modules/mixins';
@import 'modules/common';
@import 'modules/header';
@import 'modules/table';
@import 'modules/map';
@import 'modules/card';
@import 'modules/bars';

body {
    color: #37393A;
    font-family: 'Roboto Slab', serif;
}

.container {

    &__page {
        position: relative;
    }

    &__wrap {
        max-width: 1240px;
        margin: 0 auto;
        padding: 60px 30px;
    }

    &__body {
        position: relative;
        @include cf();
    }

    &__page_mode_graphics {
        background-color: #eaeff2;
        background-image: url('../images/background.png');
        background-position: left top;
    }

    &__page_mode_graphics:after {
        content: "";
        display: block;
        height: 5px;
        background: $brown;
        width: 100%;
    }

    &__page_mode_text {
        .container__wrap {
            max-width: 800px;

            h1, h2, h3, h4, h5 {
                font-family: Georgia, Times, 'Times New Roman', serif;
                text-transform: none;
            }

            p {
                font-family: Arial;
            }
        }
    }

    &__header {
        font: 25px/1 Georgia, Times, 'Times New Roman', serif;
        background: $brown;
        color: $white;
        font-size: 2.133rem;
        line-height: 1em;
        text-align: center;
        padding: 15px 0;
    }

}
