.map {
    box-sizing: border-box;
    width: 53%;
    float: left;
    padding-left: 20px;
    position: relative;

    h4 {
        margin-left: 50px;
    }

    &__svg {
        margin: 30px auto 0;
        width: 100%;
        max-width: 628px;
        height: 681px;
        transform: translate3d(0, 0, 0) perspective(1px) scale(1);
        position: relative;
        outline: rgb(0, 0, 0) none 3px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        svg {
            outline: rgb(0, 0, 0) none 3px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
        svg * {
            outline: rgb(0, 0, 0) none 3px;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
    }

    &__legend {
        position: relative;
        height: 40px;
        margin-left: 50px;
        svg {
            width: 270px;
        }

        &-label {
            position: absolute;
            top: 20px;
            line-height: 20px;
            font-size: 0.8667rem;

            &_num_1 {
                left: 0;
            }
            &_num_2 {
                left: 230px;
            }
        }
    }
}