.table {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;

    h2 {
        width: 80%;
        max-width: 550px;
    }

    &__legends {
        margin: 0 0 20px 0;
    }

    &__legend {
        display: inline-block;

        &:first-child {
            margin: 0 70px 0 0;
        }
        &:before {
            display: inline-block;
            width: 10px;
            height: 10px;
            content: "";
            margin-right: 5px;
        }
    }

    &__legend_type_income {
        &:before {
            background: $green;
        }
    }
    &__legend_type_outcome {
        &:before {
            background: $brown;
        }
    }

    &__body {
        padding: 20px 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        tbody {
            tr {
                td {
                    padding: 5px 10px;
                    margin: 0;
                    position: relative;
                    &:first-child {
                        width: 20px;
                        text-align: center;
                    }
                    &:nth-child(3) {
                        text-align: right;
                        font-weight: 500;
                        font-size: 0.8667rem;
                    }
                    &:last-child {
                        padding: 0;
                        width: 200px;
                    }
                }
            }
            tr.table__seperator {
                td {
                    height: 2px;
                    background-image: url('../images/line.png');
                }
            }
        }
    }

    &__line {
        height: 10px;
        width: 100%;
    }

    &__line_type_income {
        .table__bar {
            background: $green;
        }
    }
    &__line_type_outcome {
        .table__bar {
            background: $brown;
        }
    }

    &__bar {
        width: 0%;
        height: 100%;
        transition: width .5s;
    }

    &__grid {
        z-index: -1;
        border-right: 1px solid rgba(55,57,58,.5);
        box-sizing: border-box;
        position: absolute;
        height: calc(100% + 2px);
        width: 25%;
        left: 0;
        top: -2px;
        &_num_1 {
            border-left: 1px solid rgba(55,57,58,.5);
        }
        &_num_2 {
            left: 25%;
        }
        &_num_3 {
            left: 50%;
        }
        &_num_4 {
            left: 75%;
        }
    }

    &__grid-number {
        position: absolute;
        top: -20px;
        left: 0;
        width: 20px;
        text-align: center;
        font-size: 0.8667rem;
        margin-left: -10px;
        height: 20px;
        &_num_1 {
            left: 0;
        }
        &_num_2 {
            left: 25%;
        }
        &_num_3 {
            left: 50%;
        }
        &_num_4 {
            left: 75%;
        }
        &_num_5 {
            left: 100%;
        }
    }

    &__legend-text {

        &_type_income {
            color: $green;
        }
        &_type_outcome {
            color: $brown;
        }
    }

    &__grid-line {
        &_position_bottom {
            .table__grid-number {
                top: auto;
                bottom: -20px;
            }
        }
    }
}
